/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [QLThuVien]    Script Date: 4/4/2018 4:18:44 PM ******/
CREATE DATABASE [QLThuVien]
 CONTAINMENT = NONE
 /*ON  PRIMARY 
( NAME = N'QLThuVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\QLThuVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLThuVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\QLThuVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
*/
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLThuVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLThuVien]
GO
USE [QLThuVien]
GO
/****** Object:  Table [dbo].[CTMuonTra]    Script Date: 4/4/2018 4:18:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTMuonTra](
	[MaPM] [char](10) NOT NULL,
	[MaSach] [char](10) NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[NgayTra] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPM] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 4/4/2018 4:18:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[MaDG] [char](10) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nchar](3) NULL,
	[SDT] [char](12) NULL,
	[DiaChi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KeSach]    Script Date: 4/4/2018 4:18:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeSach](
	[MaKS] [char](10) NOT NULL,
	[TenKe] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MuonTra]    Script Date: 4/4/2018 4:18:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuonTra](
	[MaPM] [char](10) NOT NULL,
	[MaDG] [char](10) NULL,
	[NgayMuon] [date] NOT NULL,
	[HenTra] [date] NOT NULL,
	[MaNV_GD] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/4/2018 4:18:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [char](10) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NULL,
	[SDT] [char](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NXB]    Script Date: 4/4/2018 4:18:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NXB](
	[MaNXB] [char](10) NOT NULL,
	[TenNXB] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Email] [varchar](30) NULL,
	[TT_DaiDien] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phat]    Script Date: 4/4/2018 4:18:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phat](
	[MaPP] [char](10) NOT NULL,
	[MaSach] [char](10) NULL,
	[MaPM] [char](10) NULL,
	[CapDo] [int] NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 4/4/2018 4:18:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [char](10) NOT NULL,
	[MaTP] [char](10) NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 4/4/2018 4:18:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[MaTG] [char](10) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[NamSinh] [date] NULL,
	[QueQuan] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacPham]    Script Date: 4/4/2018 4:18:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacPham](
	[MaTP] [char](10) NOT NULL,
	[TenSach] [nvarchar](50) NOT NULL,
	[MaTG] [char](10) NULL,
	[MaTL] [char](10) NULL,
	[NgayDangKy] [date] NULL,
	[MaNXB] [char](10) NULL,
	[NamXB] [date] NULL,
	[GiaSach] [money] NULL,
	[MaKS] [char](10) NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 4/4/2018 4:18:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTL] [char](10) NOT NULL,
	[TenTL] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/4/2018 4:18:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [nvarchar](50) NULL,
	[pass] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CTMuonTra] ([MaPM], [MaSach], [TrangThai], [NgayTra]) VALUES (N'PM01      ', N'S01       ', 1, CAST(N'2018-02-10' AS Date))
INSERT [dbo].[CTMuonTra] ([MaPM], [MaSach], [TrangThai], [NgayTra]) VALUES (N'PM02      ', N'S02       ', 0, CAST(N'2018-03-12' AS Date))
INSERT [dbo].[CTMuonTra] ([MaPM], [MaSach], [TrangThai], [NgayTra]) VALUES (N'PM03      ', N'S03       ', 1, CAST(N'2018-04-11' AS Date))
INSERT [dbo].[DocGia] ([MaDG], [HoTen], [NgaySinh], [GioiTinh], [SDT], [DiaChi]) VALUES (N'DG01      ', N'Nguyễn Tiến Minh', CAST(N'1997-12-22' AS Date), N'Nam', N'0123456789  ', N'Trần Cung,Hà Nội')
INSERT [dbo].[DocGia] ([MaDG], [HoTen], [NgaySinh], [GioiTinh], [SDT], [DiaChi]) VALUES (N'DG02      ', N'Phạm Ngọc Đạt', CAST(N'1999-07-12' AS Date), N'Nam', N'02345678901 ', N'Phạm Văn Đồng ,Hà Nội')
INSERT [dbo].[DocGia] ([MaDG], [HoTen], [NgaySinh], [GioiTinh], [SDT], [DiaChi]) VALUES (N'DG03      ', N'Nguyễn Ngọc Ánh', CAST(N'1996-02-01' AS Date), N'Nữ ', N'0123456789  ', N'Trần Cung,Hà Nội')
INSERT [dbo].[KeSach] ([MaKS], [TenKe]) VALUES (N'KS01      ', N'Kệ A')
INSERT [dbo].[KeSach] ([MaKS], [TenKe]) VALUES (N'KS02      ', N'Kệ B')
INSERT [dbo].[KeSach] ([MaKS], [TenKe]) VALUES (N'KS03      ', N'Kệ C')
INSERT [dbo].[MuonTra] ([MaPM], [MaDG], [NgayMuon], [HenTra], [MaNV_GD]) VALUES (N'PM01      ', N'DG01      ', CAST(N'2018-01-12' AS Date), CAST(N'2018-03-12' AS Date), N'NV01      ')
INSERT [dbo].[MuonTra] ([MaPM], [MaDG], [NgayMuon], [HenTra], [MaNV_GD]) VALUES (N'PM02      ', N'DG02      ', CAST(N'2018-01-01' AS Date), CAST(N'2018-03-01' AS Date), N'NV02      ')
INSERT [dbo].[MuonTra] ([MaPM], [MaDG], [NgayMuon], [HenTra], [MaNV_GD]) VALUES (N'PM03      ', N'DG03      ', CAST(N'2017-11-11' AS Date), CAST(N'2018-03-11' AS Date), N'NV03      ')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [SDT]) VALUES (N'NV01      ', N'Phạm Tiến Dương', CAST(N'1993-12-22' AS Date), N'0912345678  ')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [SDT]) VALUES (N'NV02      ', N'Trần Văn Cường', CAST(N'1992-10-12' AS Date), N'0134123456  ')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [SDT]) VALUES (N'NV03      ', N'Phan Thị Hạnh', CAST(N'1990-09-12' AS Date), N'0983280146  ')
INSERT [dbo].[NXB] ([MaNXB], [TenNXB], [DiaChi], [Email], [TT_DaiDien]) VALUES (N'NXB01     ', N'Kim Đồng', N'Hà Nội', N'nxbkimdong@gmail.com', N'Nguyễn Công Sơn')
INSERT [dbo].[NXB] ([MaNXB], [TenNXB], [DiaChi], [Email], [TT_DaiDien]) VALUES (N'NXB02     ', N'Thanh Niên', N'Thanh Xuân', N'thanhnien@gmail.com', N'Trần Bắc Hà')
INSERT [dbo].[NXB] ([MaNXB], [TenNXB], [DiaChi], [Email], [TT_DaiDien]) VALUES (N'NXB03     ', N'Quốc Gia', N'Kim Mã', N'nxbdhquocgia@gmail.com', N'Hà Kim Nữ')
INSERT [dbo].[Phat] ([MaPP], [MaSach], [MaPM], [CapDo], [GhiChu]) VALUES (N'PP01      ', N'S01       ', N'PM01      ', 1, N'quá hạn')
INSERT [dbo].[Phat] ([MaPP], [MaSach], [MaPM], [CapDo], [GhiChu]) VALUES (N'PP02      ', N'S02       ', N'PM02      ', 1, N'sách bị nhàu')
INSERT [dbo].[Phat] ([MaPP], [MaSach], [MaPM], [CapDo], [GhiChu]) VALUES (N'PP03      ', N'S03       ', N'PM03      ', 2, N'rách 1 trang')
INSERT [dbo].[Sach] ([MaSach], [MaTP], [TrangThai]) VALUES (N'S01       ', N'TP01      ', 1)
INSERT [dbo].[Sach] ([MaSach], [MaTP], [TrangThai]) VALUES (N'S02       ', N'TP02      ', 0)
INSERT [dbo].[Sach] ([MaSach], [MaTP], [TrangThai]) VALUES (N'S03       ', N'TP03      ', 1)
INSERT [dbo].[TacGia] ([MaTG], [HoTen], [NamSinh], [QueQuan], [GhiChu]) VALUES (N'TG01      ', N'Tố Hữu', CAST(N'1950-01-01' AS Date), N'Hà Nam', NULL)
INSERT [dbo].[TacGia] ([MaTG], [HoTen], [NamSinh], [QueQuan], [GhiChu]) VALUES (N'TG02      ', N'Nam Cao', CAST(N'1958-01-01' AS Date), N'Hà Nam', NULL)
INSERT [dbo].[TacGia] ([MaTG], [HoTen], [NamSinh], [QueQuan], [GhiChu]) VALUES (N'TG03      ', N'Xuân Diệu', CAST(N'1943-01-01' AS Date), N'Lào Cai', NULL)
INSERT [dbo].[TacPham] ([MaTP], [TenSach], [MaTG], [MaTL], [NgayDangKy], [MaNXB], [NamXB], [GiaSach], [MaKS], [SoLuong]) VALUES (N'TP01      ', N'Chuyện con mèo dạy hải âu bay', N'TG01      ', N'TL03      ', CAST(N'2006-03-20' AS Date), N'NXB03     ', CAST(N'2003-01-01' AS Date), 59000.0000, N'KS03      ', 50)
INSERT [dbo].[TacPham] ([MaTP], [TenSach], [MaTG], [MaTL], [NgayDangKy], [MaNXB], [NamXB], [GiaSach], [MaKS], [SoLuong]) VALUES (N'TP02      ', N'Sherlock Holmes', N'TG05      ', N'TL01      ', CAST(N'2009-04-13' AS Date), N'NXB01     ', CAST(N'1998-01-01' AS Date), 143000.0000, N'KS02      ', 90)
INSERT [dbo].[TacPham] ([MaTP], [TenSach], [MaTG], [MaTL], [NgayDangKy], [MaNXB], [NamXB], [GiaSach], [MaKS], [SoLuong]) VALUES (N'TP03      ', N'Vật lý đại cương', N'TG02      ', N'TL06      ', CAST(N'1982-05-25' AS Date), N'NXB04     ', CAST(N'1990-01-01' AS Date), 30000.0000, N'KS01      ', 142)
INSERT [dbo].[TheLoai] ([MaTL], [TenTL]) VALUES (N'TL01      ', N'Trinh Thám')
INSERT [dbo].[TheLoai] ([MaTL], [TenTL]) VALUES (N'TL02      ', N'Tình Cảm,Lãng Mạn')
INSERT [dbo].[TheLoai] ([MaTL], [TenTL]) VALUES (N'TL03      ', N'Thiếu Nhi')
ALTER TABLE [dbo].[CTMuonTra]  WITH CHECK ADD FOREIGN KEY([MaPM])
REFERENCES [dbo].[MuonTra] ([MaPM])
GO
ALTER TABLE [dbo].[CTMuonTra]  WITH CHECK ADD FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[MuonTra]  WITH CHECK ADD FOREIGN KEY([MaDG])
REFERENCES [dbo].[DocGia] ([MaDG])
GO
ALTER TABLE [dbo].[MuonTra]  WITH CHECK ADD FOREIGN KEY([MaNV_GD])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[Phat]  WITH CHECK ADD FOREIGN KEY([MaPM])
REFERENCES [dbo].[MuonTra] ([MaPM])
GO
ALTER TABLE [dbo].[Phat]  WITH CHECK ADD FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD FOREIGN KEY([MaTP])
REFERENCES [dbo].[TacPham] ([MaTP])
GO
ALTER TABLE [dbo].[TacPham]  WITH CHECK ADD FOREIGN KEY([MaKS])
REFERENCES [dbo].[KeSach] ([MaKS])
GO
ALTER TABLE [dbo].[TacPham]  WITH CHECK ADD FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NXB] ([MaNXB])
GO
ALTER TABLE [dbo].[TacPham]  WITH CHECK ADD FOREIGN KEY([MaTG])
REFERENCES [dbo].[TacGia] ([MaTG])
GO
ALTER TABLE [dbo].[TacPham]  WITH CHECK ADD FOREIGN KEY([MaTL])
REFERENCES [dbo].[TheLoai] ([MaTL])
GO
ALTER TABLE [dbo].[DocGia]  WITH CHECK ADD CHECK  (([GioiTinh]='Nam' OR [GioiTinh]=N'Nữ'))
GO
USE [master]
GO
